extends layout

block styles
  link(rel='stylesheet', href='/bower_components/simplemde/dist/simplemde.min.css')
  link(rel='stylesheet', href='/bower_components/air-datepicker/dist/css/datepicker.min.css')

block content
  form(role='form', action="/admin/files/#{data.path}", method="post", enctype="application/x-www-form-urlencoded")
    input(type="hidden", name="_method", value="PUT")
    div.row
      div.col-md-9.col-sm-12
        input.form-control.input-lg(type="text", name="title", value="#{data.title}", placeholder="Post title")
        div#editor-container
          textarea#editor.form-control(name="content")= data.content
        fieldset
          legend Meta
          each val in data.meta
            div.form-group
              label(for="#{val}")= val
              input.form-control(type="text", name="#{val}", value="#{data[val]}")

      div.col-md-3.col-sm-12
        div.form-group
          label(for="date") Date
          input.form-control(type="text", name="date", value="#{data.date}")
        div.form-group
          label(for="url") Slug
          input.form-control(type="text", name="url", value="#{data.url}")
        div.form-group
          label(for="tags") Tags
          input.form-control(type="text", name="tags", value="#{data.tags}")
        div.form-group
          label(for="categories") Categories
          input.form-control(type="text", name="categories", value="#{data.categories}")
        div.form-group
          label(for="excerpt") Excerpt
          textarea.form-control(name="excerpt")= data.excerpt

        button.btn.btn-primary.pull-right(type='submit') Save Post

block scripts
  script(src='/bower_components/simplemde/dist/simplemde.min.js')
  script(src='/bower_components/air-datepicker/dist/js/datepicker.js')
  script(src='/bower_components/air-datepicker/dist/js/i18n/datepicker.en.js')
  script(src='/scripts/editor.js')
